// Dashboards Styles
// ====
// 
// 1. To account for mobile tab bar

.t-dash {
  background-color: $neutral-30;
  padding: $unit*10;
  height: 100%;
  // transition: $slow-animation;

  h1 {
    margin-top: 0;
  }
  @media (min-width: $screen-sm) {
    padding-left: 210px;
  }
}