// Messages
// ====
// 
// Dashboards Styles
// ====
// 
// 1. To account for mobile tab bar


.t-messages {
  background-color: $neutral-00;
  padding-top: $unit*5;

  h1 {
    margin-top: 0;
  }
  @media (min-width: $screen-sm) {
    padding-top: $unit*10;
    padding-left: 180px;
  }
}

.t-messages__header {
  padding: 0 $unit*10;
}


// Messages header and nav
// ---

.t-messages__nav-item,
.t-messages__title,
.t-messages__link {
  padding-bottom: $unit*8;
}

.t-messages__nav-item {
  padding: 0 $unit*8 $unit*8 $unit*8;
  position: relative;

  color: $neutral-40;

  &:after {
    display: none;
    content: '';
    height: $unit/1.5;
    background-color: $brand-blue;
    position: absolute;
    bottom: -$unit*2;
    left: 0;
    right: 0;
  }

  &:hover {
    color: $brand-blue;
  }
}

.t-messages__nav-item.active {
  color: $neutral-80;

  &:after {
    display: block;
  }
}


// Contacts
// ---

.t-messages__contacts {
  width: 250px;
  height: 100%;

  position: relative;

  border-right: $border;
}


// Conversation
// ---


.t-messages__conversation {
  width: calc(100% - 250px);
}

// Coversation title
.t-messages__conversation-title {
  height: $unit*11;
  width: 100%;

  position: relative;
}

.t-messages__star {
  position: absolute;
  right: $unit*3;
  fill: none;
  stroke: $neutral-80;
  stroke-width: 2px;

  .active,
  &:hover,
  &:focus,
  &:active {
    stroke: none;
    fill: $brand-yellow;
  }
}



// Seach
// ---

.t-messages__search {
  display: flex;
  height: $unit*11;

  position: relative;

  input {
    width: 100%;
    border: none !important;
    padding-left: $unit*8 !important;
  }

  svg {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: $unit*2;
  }
}




