// Messages
// ====
// 
// Dashboards Styles
// ====
// 
// 1. To account for mobile tab bar


.t-messages {
  background-color: $neutral-00;
  padding-top: $unit*5;
  height: calc(100% - 68px);

  h1 {
    margin-top: 0;
  }
  @media (min-width: $screen-sm) {
    padding-top: $unit*8;
    padding-left: 180px;
  }

  // Mobile only
  @media (max-width: $screen-xs) {
    padding: 0;
    height: 100%;
  }
}

.t-messages__header {
  padding: 0 $unit*10;
  position: relative;
  display: flex;
  align-items: center;

  // Mobile only
  @media (max-width: $screen-xs) {
    flex-direction: column;
    padding: 0;
  }
}

.t-messages__header-wrapper {
  display: none;

  @media (min-width: $screen-xs) {
   display: block;
  }
}


// Messages header and nav
// ---

.t-messages__nav-item,
.t-messages__title,
.t-messages__link {
  padding-bottom: $unit*8;
}

.t-messages__link {
  @media (max-width: $screen-xs) {
    display: none;
  }
}

.t-messages__title {
  @media (max-width: $screen-xs) {
    padding: $unit*4;
  }
}

.t-messages__nav {
  @media (max-width: $screen-xs) {
    width: 100%;
  }
}

.t-messages__nav.hide {
  @media (max-width: $screen-xs) {
    display: none;
  }
}

.t-messages__nav-list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: $unit*6;

  // Mobile Only
  @media (max-width: $screen-xs) {
    margin: 0;
    justify-content: center;
  }

  li {
    @media (max-width: $screen-xs) {
      width: 50%;
      text-align: center;
    }
  }
}

.t-messages__nav-item {
  padding: 0 $unit*8 $unit*8 $unit*8;
  position: relative;

  color: $neutral-40;

  &:after {
    display: none;
    content: '';
    height: $unit/1.5;
    background-color: $brand-blue;
    position: absolute;
    bottom: -$unit*2;
    left: 0;
    right: 0;

    @media (max-width: $screen-xs) {
      bottom: 0;
    }
  }

  &:hover {
    color: $brand-blue;
  }

  // Mobile Only
  @media (max-width: $screen-xs) {
    padding: $unit*4; 
  }
}

.t-messages__nav-item.active {
  color: $neutral-80;

  &:after {
    display: block;
  }
}

.t-messages__wrapper {
  height: 100%;
  position: relative;

  @media (min-width: $screen-xs) {
    height: 100%;
  }
}

.t-messages__new-icon {
  position: absolute;
  top: $unit*6;
  right: $unit*6;

  @media (min-width: $screen-xs) {
    display: none;
  }
}

// Contacts
// ---
// 1. to account for the tab bar

.t-messages__contacts {
  width: 100%;
  height: calc(100% - 30px); // 1

  position: absolute;
  right: 100%;
  // overflow: scroll;

  border-right: $border;

  transition: $slow-animation;

  z-index: 10;

  @media (min-width: $screen-xs) {
    width: 250px;
    position: static;
    height: 100%;
  }
}

.t-messages__contacts.active {
  right: 0;
}

.t-messages__contacts-wrapper {
  height: calc(100% - 54px);
  overflow: scroll;
}


// Conversation
// ---
//
// 1. To override default styles

.t-messages__conversation {
  width: 100%;

  @media (min-width: $screen-xs) {
    width: calc(100% - 250px);
    position: relative;
  }
}

.t-messages__conversation.t--name {
  justify-content: center;
}

.t-messages__conversation.t--new {
  justify-content: flex-start;
}

.t-messages__conversation-new {
  display: none;
  align-items: center;
  width: 100%;
  padding-left: $unit*3;

  input {
    width: 100%;
    border: none !important; // 1
  }
}

.t-messages__conversation-name {
  display: none;
  text-align: center;
  margin: 0 auto;
}

.t-messages__conversation-name.active,
.t-messages__conversation-new.active {
  display: flex;
}

// Coversation title
.t-messages__conversation-title {
  height: $unit*11;
  width: 100%;

  position: relative;
}

.t-messages__star {
  position: absolute;
  right: $unit*3;
  top: 0;
  bottom: 0;
  display: flex;
}


// Messages
// ---

.t-messages__messages {
  overflow: scroll;
  height: 74%;
}



// Seach
// ---

.t-messages__search {
  display: flex;
  height: $unit*11;

  position: relative;

  input {
    width: 100%;
    border: none !important;
    padding-left: $unit*8 !important;
  }

  svg {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: $unit*2;
  }
}


// Message Input
// ---

.t-messages__input {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 47px;

  background-color: $neutral-10;
  padding: $unit*3;

  textarea {
    border: $border;
    font-size: $small-font;
  }

  @media (min-width: $screen-xs) {
    position: absolute;
    bottom: 0;
  }
}




