// Workout
// ====
// 

$heading-height: 137px;

.t-workout {
  background-color: $neutral-30;

  h1,
  p {
    margin: 0;
  }

  @media (min-width: $screen-hlf-scrn) {
    display: flex;
  }
}

// Workout main column
// ---

.t-workout__main {
  width: 100%;
  height: 100vh;
}

.t-workout__heading {
  padding: $unit*2;
  padding-top: $unit*4;

  position: relative;
  background: $neutral-00;
  border-bottom: $border;

  @media (min-width: $screen-hlf-scrn) {
    height: $heading-height;
    padding-left: $unit*5;
  }
}

.t-workout__complete {
  @media (min-width: $screen-xs) {
    position: absolute;
    bottom: $unit*5;
    right: $unit*5;
  }
  @media (min-width: $screen-hlf-scrn) {
    position: absolute;
    top: $unit*5;
    right: $unit*5;
    bottom: auto;
  }
}

.t-workout__author {
  font-size: $mobile-font;
  color: $neutral-60;
}

.t-workout__search {
  width: 100%;
  padding: $unit*3;
  padding-left: $unit*12;

  border-top: $border;
  border-bottom: $border;
  border-right: none !important;
  border-left: none !important;

  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-size: $unit*6;
  background-position: $unit*3;

  font-size: $font-size;
}

.t-workout__workout {
  background-color: $neutral-30;
  padding-top: $unit*3;

  @media (min-width: $screen-hlf-scrn) {
    padding: $unit*3;
  }
}

.t-workout__workout-legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: $unit;
  padding-left: $unit*10;

  font-size: $mobile-font;
}

.t-workout__cta-legend {
  width: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 $unit;

  @media (min-width: $screen-sm) {
    width: 140px;
  }
}

.t-workout__search-container {
  display: none;
  padding: $unit*3;
  background-color: $neutral-00;
  border-bottom: $border;
}

.t-workout__search-heading {
  display: block;
  margin-bottom: $unit*2;
  font-size: $large-font;
  color: $neutral-70;
}

.t-workout__search-text {
  padding-bottom: $unit*3;
} 

.t-workout__search-result {
  padding: $unit*3;
  background-color: $brand-blue;
  color: $neutral-00;
  font-weight: 500;
  border-radius: $border-radius;
}

.t-workout__exercise {
  display: flex;
  align-items: center;
  margin-bottom: $unit*3;

  overflow: hidden;

  position: relative;

  background-color: $neutral-00;
  box-shadow: $box-shadow;

  .single-line {
    min-width: 50px;
    display: inline-block;
  }
}

.t-workout__exercise-reps {
  display: flex;
  align-items: center;
  margin-right: 12px;

  &:not(:first-child) {
    margin-left: 12px;
  }
}

.t-workout__exercise.active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(19, 133, 185, 0.6);
}

.t-workout__exercise.t--new,
.t-workout__exercise-wrapper.t--new {
  opacity: 0.65;
}

.t-workout__option-complete {
  display: none !important;
}

.t-workout__exercise.t--complete {
  .t-workout__option-remove {
    display: none;
  }

  .t-workout__option-complete {
    display: block !important;
  }
}



.t-workout__exercise-details {
  display: inline-block;
  width: 90%;
  padding: $unit*3 0 $unit*3 $unit*3;

  font-size: $small-font;
}

.t-workout__exercise-name {
  font-size: $small-font;
  display: inline;
  line-height: 20px;
  margin-right: $unit*2 !important;
}

.t-workout__exercise-notes {
  width: 100%;
  max-height: $unit*10;
  font-size: $mobile-font;
}

.t-workout__exercise-numbers {
  margin-bottom: $unit;
}


.t-workout__keywords {
  width: 100%;
}

.t-workout__keywords,
.t-workout__description {
  padding: $unit 0;
}

.t-workout__description {
  margin-top: $unit*0.5 !important;
}

.t-workout__exercise-options-button {
  display: inline-block;
  padding: $unit*5;

  z-index: 100;

  @media (min-width: $screen-sm) {
    display: none;
  }
}

// desktop only
.t-workout__exercise-cta {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
  padding-right: $unit*3;
  margin-left: $unit*3;

  @media (min-width: $screen-sm) {
    width: 140px;
  }
}

// mobile only
.t-workout__exercise-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 0%;
  height: 100%;
  padding-right: $unit*8;

  background-color: white;

  position: absolute;
  right: -$unit*34;
  transition: $slow-animation;

  @media (min-width: $screen-sm) {
    display: none;
  }
}

.t-workout__exercise-options.active {
  width: 100%;

  right: -$unit;
}

.t-workout__exercise-dots {
  fill: $brand-blue;
  width: 3px;

  @media (min-width: $screen-sm) {
    display: none;
  }
}

.t-workout__exercise-input {
  font-size: 16px !important;
  padding: 4px !important;
  display: inline-block !important;
  border: none !important;

  &::placeholder {
    color: $neutral-70 !important;
  }

  &.t--number {
    width: 75px !important
  }
}

.t-workout__exercise-wrapper {
  display: inline-flex;
  white-space: nowrap;
  margin-right: $unit*2;
}

.t-workout__select {
  // font-size: $small-font;
  // margin-right: -$unit*5;
  // margin-left: -$unit;
  // border: 0;
  // background-color: transparent;

  @media (min-width: $screen-xs) {
    margin-right: 0;
  }
}

.t-workout__exercise-option {
  display: flex;
  align-items: center;

  svg {
    margin-right: $unit*2;
  }
}

.t-workout__view-menu {
  background-color: $neutral-00;
  border-bottom: $border;
  display: flex;
  justify-content: space-between;
  padding: 0 $unit*3;
  div {
    display: flex;
    align-items: center;
  }

  span {
    display: flex;
    align-items: center;
    padding: $unit*3;
    font-size: $small-font;
    color: $brand-blue;
  }
}

// Workout Side bar
// ---

.t-workout__side {
  width: 100%;
  height: 100vh;

  background: $neutral-00;
  border-left: $border;

  @media (min-width: $screen-hlf-scrn) {
    width: 75%;
  }

  @media (min-width: $screen-sm) {
    width: auto;
    max-width: 60%;
  }

  @media (min-width: $screen-sm) {
    width: auto;
    max-width: 60%;
  }
}

.t-workout__side-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $screen-hlf-scrn) {
    height: $heading-height;
  }
}

.t-workout__side-title {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}

.t-workout__filters {
  display: flex;
  justify-content: space-between;
  padding: $unit*2;
}

.t-workout__side-results {
  margin-top: $unit*3;
  padding: $unit*3;
}

.t-workout__side-exercise {
  padding: $unit*3;
  margin-bottom: $unit*2;
  background-color: $brand-blue;
  color: $neutral-00;
  font-weight: 500;
  border-radius: $border-radius;
}


