<div class="js-about c-about {{clas}}">
  <h1 class="u-text-size-title u-margin-top-none u-margin-bottom-md">About</h1>
  <div class="c-item">
    <div class="u-padding-xlg">
      <p class="u-margin-none u-margin-bottom-lg u-text-size-small">Bacon ipsum dolor amet pig beef pancetta picanha biltong, frankfurter shoulder rump meatball. Cow kevin frankfurter tail landjaeger hamburger ham filet mignon, pork loin jerky bacon chuck salami pork belly bresaola. Burgdoggen meatball chuck boudin, tri-tip rump spare ribs. Ribeye picanha ground round, jowl leberkas ball tip kielbasa andouille corned beef short ribs shoulder shank filet mignon.</p>

      <div>
        <div class="c-grid__row">
          <div>
            <div class="u-text-size-quiet">Age:</div>
            34
          </div>
          <div>
            <div class="u-text-size-quiet">Hometown:</div>
            Las Vegas
          </div>
        </div>
        <div class="c-grid__row">
          <div>
            <div class="u-text-size-quiet">Gym:</div>
            Steve Nash
          </div>
          <div>
            <div class="u-text-size-quiet">Team:</div>
            Nash Foxes
          </div>
          <div>
            <div class="u-text-size-quiet">School:</div>
            Las Vegas High
          </div>
        </div>
      </div>
    </div>
    <div class="u-border-top u-padding-xlg">
      <div class="c-grid__row">
        <div>
          <div class="u-text-size-quiet">Gym:</div>
          Steve Nash
        </div>
        <div>
          <div class="u-text-size-quiet">Team:</div>
          Nash Foxes
        </div>
        <div>
          <div class="u-text-size-quiet">School:</div>
          Las Vegas High
        </div>
      </div>
    </div>
  </div>
</div>