<div class="js-calendar c-calendar-event">
  <form>
    <div class="c-calendar-event__title u-padding-xlg">Title</div>
    <div class="u-padding-top-lg u-padding-sides-lg">
    {{!-- If workout --}}
      <a href="/workouts" class="c-link c--orange u-text-size-normal u-text-bold u-display-block">Workout name</a>
      <div class="u-margin-top-lg">
        <span class="u-margin-right-md">Jan 16, 2017</span><span>9 AM to 10 AM</span>
      </div>
      <div class="u-display-flex u-margin-top-lg u-margin-bottom-lg">
      {{!-- show data from repeat or all day  --}}
        <div class="c-checkbox u-margin-right-lg">
          all-day
        </div>
      </div>
      <select class="u-display-block">
        <option value="my-calendar">Calendar</option>
        <option value="my-calendar">Group Calendar</option>
      </select>
      <div class="u-padding-top-xxlg u-padding-bottom-sm">This is the event description</div>
      
    </div>
  </form>  
  <a class="u-padding-lg c-link c--orange u-margin-top-lg u-text-align-right u-display-block">Edit</a>
</div>
