<div class="c-contact {{class}} u-display-flex u--space-between u-padding-lg u-border-bottom">
  <div class="c-contact__image u-margin-right-md">
    <img src="img/profile-pic.jpg">
  </div>
  <div class="u-display-flex u--space-between u-padding-top-md">
    <div>
      <h1 class="c-contact__name u-text-size-small u-margin-none">User Name</h1>
      <p class="c-contact__message u-text-size-quiet u-margin-none u-line-height-sm">Beginning chars of message...</p>
    </div>
    <div>
      <div class="c-contact__timestamp u-text-size-quiet">2:30pm</div>
    </div>
  </div>
</div>