<div class="c-side-nav">
  <a href="/">
    <div class="c-header__logo c-side-nav__logo u-margin-left-xxlg u-margin-top-sm">
      <img src="img/fitbee-logo-white.svg" />
    </div>
  </a>
  <div class="c-side-nav__title u-margin-left-xxlg u-margin-top-lg u-color-blue u-text-bold">Dashboard</div>
  <nav>
    <ul>
      <li>
        <a href="/workouts" class="c-side-nav__item">
          <div class="c-side-nav__item-bar"></div>
          {{>iconnotification class="c--small"}}
          <span class="c-side-nav__item-text">Workouts</span>
        </a>
        <ul class="c-side-nav__sub-nav">
          <li>
            <a href="/create-workout" class="c-side-nav__sub-item">
              + New Workout
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/calendar" class="c-side-nav__item">
          <div class="c-side-nav__item-bar"></div>
          {{>iconcalendar class="c--small"}}
          <span class="c-side-nav__item-text">Calendar</span>
        </a>
      </li>
      <li>
        <a href="/messages" class="c-side-nav__item">
          <div class="c-side-nav__item-bar"></div>
          {{>iconmessage class="c--small"}}
          <span class="c-side-nav__item-text">Messages</span>
        </a>
      </li>
      <li>
        <a href="/groups" class="c-side-nav__item">
          <div class="c-side-nav__item-bar"></div>
          {{>iconfriends class="c--small"}}
          <span class="c-side-nav__item-text">Groups</span>
        </a>
        <ul class="c-side-nav__sub-nav">
          <li>
            <a href="/group1" class="c-side-nav__sub-item">
              Racine Erickson's Baseball Team
            </a>
          </li>
          <li>
            <a href="/group-new" class="c-side-nav__sub-item">
              + New Group
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="c-side-nav__item">
          <div class="c-side-nav__item-bar"></div>
          {{>iconanalytics class="c--small"}}
          <span class="c-side-nav__item-text">Analytics</span>
        </a>
      </li>
      <li>
        <a class="c-side-nav__item">
          <div class="c-side-nav__item-bar"></div>
          {{>iconnotification class="c--small"}}
          <span class="c-side-nav__item-text">Clients</span>
        </a>
      </li>
      <li>
        <a class="c-side-nav__item">
          <div class="c-side-nav__item-bar"></div>
          {{>iconnotification class="c--small"}}
          <span class="c-side-nav__item-text">Trainers</span>
        </a>
      </li>
    </ul>
  </nav>
</div>