<article class="c-friend u-color-bg-white u-border">
  <div class="c-friend__image">
    <img src="img/profile-pic.jpg">
  </div>
  <div class="c-friend__details u-padding-lg u-align-vertical-middle">
    <h1 class="u-color-blue u-text-bold u-text-size-medium u-margin-none">User Name</h1>
    <button class="c-friend__button c-button">Follow</button>
  </div>
</article>
