  <div class="u-display-flex u--align-center u-margin-bottom-xxlg">
    <h1 class="u-margin-none">{{heading}}</h1>
    {{#if new}}
      <span class="c-link u-margin-left-xxlg">{{new}}</span>
     {{/if}} 
  </div>