 <div class="u-color-bg-white u-width-full u-box-shadow u-border u-margin-bottom-xxlg">
  <div class="c-highlight__title u-padding-md">
    {{>iconbadge class="c-highlight__badge u-fill-orange c--small u-margin-right-md"}}
    <h1 class="u-color-blue u-text-bold u-text-size-medium u-display-inline-block u-margin-none">Workout of the Day</h1>
  </div>
  <div class="u-padding-md">
    <h2 class="u-margin-top-none u-margin-bottom-md u-text-size-large c-link u-color-black">Totally Awesome Body Workout</h2>
    {{>iconrating class="c--xxlarge u-fill-yellow"}}
    <span class="u-text-size-quiet u-margin-left-md">saved 876 times</span>
    <div class="u-display-flex u--space-between u-margin-top-lg">
      <a class="c-link u-text-size-small">Quick View</a>
      <a class="c-link u-text-size-small">Save Workout</a>
    </div>
  </div>
</div>