<div class="c-highlight u-color-bg-white u-border u-box-shadow u-margin-bottom-xxlg">
  <div class="c-highlight__title u-padding-md">
    {{>iconbadge class="c-highlight__badge u-fill-orange c--small u-margin-right-md"}}
    <h1 class="u-color-blue u-text-bold u-text-size-medium u-display-inline-block u-margin-none">Trainer of the Day</h1>
  </div>
  <div class="c-highlight__image">
    <img src="img/profile-pic.jpg">
  </div>
  <div class="c-highlight__main">
    <div class="c-highlight__top u-display-flex u-padding-lg">
      <div class="c-highlight__details">
        <h1 class="c-highlight__name u-margin-none">User Name</h1>
        <div class="u-display-flex u--align-center">
          <span class="c-highlight-pro u-margin-right-lg u-text-bold">Profession</span>
          {{>iconrating class="c--xxlarge u-fill-yellow"}}
        </div>
        <div class="c-highlight__location u-display-flex u--align-center">
          {{>iconlocation class="c--small"}}
          <span class="u-margin-left-md u-text-bold">Toronto</span>
        </div>
        <div class="c-highlight__followers">
          <span>437 Followers</span>
          <a class="c-link u-margin-left-lg">Follow</a>
        </div>
      </div>
      <div class="c-highlight__contact u-text-align-center">
        {{>iconbadge class="c-highlight__badge u-hidden-md-down u-fill-blue u-margin-bottom-xxlg"}}
        <a class="c-highlight__view c-button c--secondary u-display-block u-margin-top-lg">View&nbsp;Users&nbsp;Workouts</a>
      </div>
    </div>
  </div>
</div>