<div class="c-message {{class}}">
  <div class="u-display-flex u--align-center c-message__wrapper">
    <div class="c-message__image">
      <img src="img/profile-pic.jpg">
    </div>
    <div class="c-message__message">
      {{message}} 
    </div>
  </div>
  <div class="c-message__timestamp u-text-size-quiet">{{time}}</div>

</div>