

<div class="c-mobile-header u-width-full u--align-center u--space-between u-border-bottom u-padding-sides-md u-padding-top-sm u-padding-bottom-sm">
  <a class={{backclass}}>
    {{>iconarrow class="c--medium u-fill-blue"}}
  </a>
  <h1 class="u-margin-none">Messages</h1>
  <a class="{{newclass}}">
    {{>iconedit class="c--medium u-fill-blue"}}
  </a>
</div>