<div class="c-mobile-dash">
  <div class="u-display-flex u--align-center u-color-bg-dark-gray">
    <button class="c-button u-padding-xlg c-mobile-dash__back">
    {{>iconarrow class="c--medium u-fill-orange"}}
    </button>
    <h1 class="u-color-orange u-text-size-large u-text-bold">Dashboard Menu</h1>
  </div>
  <nav>
    <ul class="u-margin-top-none">
      <li>
        <a href="/workouts" class="c-mobile-dash__item">
          <div class="c-mobile-dash__item-bar"></div>
          {{>iconnotification class="c--small"}}
          <span class="c-mobile-dash__item-text">Workouts</span>
        </a>
      </li>
      <li>
        <a href="/calendar" class="c-mobile-dash__item">
          <div class="c-mobile-dash__item-bar"></div>
          {{>iconcalendar class="c--small"}}
          <span class="c-mobile-dash__item-text">Calendar</span>
        </a>
      </li>
      <li>
        <a href="/messages" class="c-mobile-dash__item">
          <div class="c-mobile-dash__item-bar"></div>
          {{>iconmessage class="c--medium"}}
          <span class="c-mobile-dash__item-text">Messages</span>
        </a>
      </li>
      <li>
        <a href="/friends" class="c-mobile-dash__item">
          <div class="c-mobile-dash__item-bar"></div>
          {{>iconfriends class="c--medium"}}
          <span class="c-mobile-dash__item-text">Friends</span>
        </a>
      </li>
      <li>
        <a class="c-mobile-dash__item">
          <div class="c-mobile-dash__item-bar"></div>
          {{>iconanalytics class="c--small"}}
          <span class="c-mobile-dash__item-text">Analytics</span>
        </a>
      </li>
      <li>
        <a class="c-mobile-dash__item">
          <div class="c-mobile-dash__item-bar"></div>
          {{>iconnotification class="c--small"}}
          <span class="c-mobile-dash__item-text">Clients</span>
        </a>
      </li>
      <li>
        <a class="c-mobile-dash__item">
          <div class="c-mobile-dash__item-bar"></div>
          {{>iconnotification class="c--small"}}
          <span class="c-mobile-dash__item-text">Trainers</span>
        </a>
      </li>
    </ul>
  </nav>
</div>