<div class="c-mobile-event {{class}}">
  <div class="c-mobile-event__time">
    <div>8:30 AM</div>
    <div>5:20 PM</div>
  </div>
  <div class="c-mobile-event__title">
    <span>{{title}}</span>
  </div>
</div>