<div class="js-swipe-nav c-mobile-swipe-nav">
  <div class="u-display-flex u--align-center">
  <button class="js-swipe-nav__back c-button u-padding-xlg c-mobile-swipe-nav__back">
    {{>iconarrow class="c--medium u-fill-orange"}}
    </button>
    <h1 class="u-color-orange u-text-size-medium u-text-bold">Main Menu</h1>
  </div>
  <nav>
    <ul class="u-margin-top-none">
      <li>
        <a href="/profile" class="c-mobile-swipe-nav__item">
          <div class="c-mobile-swipe-nav__item-bar"></div>
          <span class="c-mobile-swipe-nav__item-text">Profile</span>
        </a>
      </li>
      <li>
        <a href="/" class="c-mobile-swipe-nav__item">
          <div class="c-mobile-swipe-nav__item-bar"></div>
          <span class="c-mobile-swipe-nav__item-text">Settings</span>
        </a>
      </li>
      <li>
        <a href="/login" class="c-mobile-swipe-nav__item">
          <div class="c-mobile-swipe-nav__item-bar"></div>
          <span class="c-mobile-swipe-nav__item-text">Logout</span>
        </a>
      </li>
    </ul>
  </nav>
</div>