
<div class="c-header__top">
  <nav>
    <a href="/">
      <div class="c-header__logo u-margin-left-md">
        <img src="img/fitbee-logo-black.svg" />
      </div>
    </a>
    <ul class="c-nav-primary u-margin-none">
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/signup">Sign up</a>
      </li>
      <li class="u-padding-lg">
        <a href="/profile">Image User Name</a>
      </li>
      <li class="u-padding-lg">
        <a href="/friends" class="c-nav-primary__item">
          {{>iconfriends class="c--medium"}}
        </a>
      </li>
      <li class="u-padding-lg">
        <a class="c-nav-primary__item">
          {{>iconnotification class="c--small"}}
        </a>
        <ul class="c-nav-primary__item-nav">
          {{>notification text="Jen Jonhson is interested in your training services"}}
          {{>notification text="John Smith is now following you"}}
          <a href="/notifications" class="c-link u-padding-sides-xlg u-display-block u-margin-bottom-lg u-text-size-mobile">See all notifications ></a>
        </ul>
      </li>
      <li class="u-padding-lg c-nav-primary__item">
        <a>
          {{>icongear class="c--small"}}
        </a>
        <ul class="c-nav-primary__item-nav">
          <li><a href="/settings">Settings</a></li>
          <li><a href="/landing">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
<div class="c-header__bottom u-padding-sides-xlg">
  <nav>
    <ul class="c-nav-secondary">
      <li class="">
        <a href="/workouts" class="c-link u-padding-sides-xlg u-padding-top-lg u-padding-bottom-lg">Dashboard</a>
      </li>
      <li class="">
        <a class="c-link u-padding-sides-xlg u-padding-top-lg u-padding-bottom-lg">+ Create Workout</a>
      </li>
      <li class="">
        <a href="/browse-workouts" class="c-link u-padding-sides-xlg u-padding-top-lg u-padding-bottom-lg">Browse Workouts</a>
      </li>
      <li class="">
        
        <a href="/connect" class="c-link u-padding-sides-xlg u-padding-top-lg u-padding-bottom-lg">{{>iconfriends class="c--small u-fill-white u-margin-right-sm"}}Connect</a>
      </li>
    </ul>
  </nav>
</div>

