<article class="c-post u-display-flex u--column">
  <div class="c-post__profile u-display-flex u-padding-lg">
    <div class="c-post__image u-margin-right-lg">
      <img src="img/profile-pic.jpg">
    </div>
    <div class="c-post__details">
      <h1 class="u-margin-none"><span class="u-text-bold u-color-blue">User Name</span> completed something special</h1>
      <span class="u-text-size-small">2:03pm</span>
    </div>
  </div>

  <div class="c-post__content u-padding-lg">
    <p class="u-margin-bottom-lg u-margin-top-none">Caption goes here</p>
    <img src="img/profile-pic.jpg">
  </div>
</artcile>