<div class="c-share">
  <div class="c-share__icons">
    <div class="u-display-inline-block u-text-bold u-color-blue">
      {{>iconphoto class="c--small u-fill-blue"}}
      Add Photo
    </div>
    <div class="u-display-inline-block  u-text-bold u-color-blue">
      {{>iconvideo class="c--small u-fill-blue"}}
      Add Video
    </div>
  </div>
  <div class="u-padding-sides-lg">
    <textarea placeholder="Share your accomplishments!"></textarea>
  </div>
  <div class="u-display-flex u--align-center u--space-between u-padding-lg">
    {{>checkbox class="c--quiet" value="public" label="Public"}}
    <button class="c-button c--primary">Share</button>
  </div>
</div>