{{!-- <div class="c-suggest u-border">
  <div class="c-suggest__person">
    <div class="c-suggest__image u-margin-right-md">
      <img src="img/profile-pic.jpg">
    </div>
    <div>User Name</div>
  </div>
  <div class="c-suggest__person">
    <div class="c-suggest__image u-margin-right-md">
      <img src="img/profile-pic.jpg">
    </div>
    <div>User Name</div>
  </div>
</div> --}}