<div class="c-suggest {{class}}">
  <ul class="u-margin-none">
    <li class="c-suggest__item">
      <div class="c-suggest__image u-margin-right-md">
        <img src="img/profile-pic.jpg">
      </div>
      <div>{{item}}</div>
    </li>
    <li class="c-suggest__item">
      <div class="c-suggest__image u-margin-right-md">
        <img src="img/profile-pic.jpg">
      </div>
      <div>{{item}}</div>
    </li>
  </ul>
</div>