<nav class="c-tab-bar">
  <ul class="u-display-flex u--space-between u--align-baseline u-padding-top-sm u-padding-bottom-sm u-padding-sides-xlg u-margin-none">
    <li>
      <a class="c-tab-bar__dash u-display-flex u--space-between u--align-center u--column">{{>icondash class="c--medium u-margin-bottom-sm"}}
      Dashboard</a>
    </li>
    <li>
      <a class="u-display-flex u--space-between u--align-center u--column">{{>iconadd class="c--medium u-margin-bottom-sm"}}
      Create</a>
    </li>
    <li>
      <a href="/browse-workouts" class="u-display-flex u--space-between u--align-center u--column">{{>iconsearch class="c--medium u-margin-bottom-sm"}}
      Workouts</a>
    </li>
    <li>
      <a href="/connect" class="u-display-flex u--space-between u--align-center u--column">{{>iconnotepad class="c--small u-margin-bottom-sm"}}
      Connect</a>
    </li>
  </ul>
</nav>