<article class="c-tile {{class}}">
  <div class="c-tile__content">
    {{!-- {{>iconedit class="c--small u-margin-right-xlg u-hidden-xs-down"}} --}}
    <div class="c-tile__details">
      <div class="c-tile__names">
        <a href="/view-workout" class="c-link"><h1 class="c-tile__workout">Awesome Butt Firming and Weightloss Workout</h1></a>
        <div class="c-tile__rating">
          {{>iconrating class="c-tile__stars u-fill-yellow"}}
          <span class="u-text-size-quiet u-margin-left-lg">saved 6845 times</span>
        </div>
        <span class="u-text-size-mobile u-hidden-xs-down u-margin-right-xxlg">#tags, #tags, #tags, #tags</span>
      </div>
      <div class="c-tile__extras">
        <span class="c-tile__author">Lucies Fitness Journey Vancouver</span>  
        <span class="u-text-size-mobile">Difficulty</span>
      </div>
    </div>
  </div>
  <div class="c-tile__more js-tile-more {{dots}} u-hidden-xs-up">
    {{>icondots class="c-tile__dots u-fill-blue"}}
  </div>

  <div class="c-tile__icons js-tile-icons">
    {{!-- <div class="c-tile__edit-options"> --}}
      {{>iconcalendar class="u-margin-sides-lg c-tile__edit-options c-tile__calendar-icon"}}
      {{>iconview class="c--large u-margin-sides-lg u-hidden-xs-down c-tile__edit-options "}}
      {{!-- {{>iconedit class="c--small u-margin-sides-lg"}} --}}
      
    {{!-- </div> --}}
    <a class="js-tile-save c-tile__save">
      {{>iconmark class="c--medium u-fill-blue c-tile__mark-icon"}}
      {{>iconsaved class="c--medium u-fill-blue c-tile__saved-icon"}}
    </a>
{{!--     <div class="c-tile__save-options"> --}}
      {{>iconedit class="u-margin-sides-lg c-tile__save-options c-tile__edit-icon"}}
      {{>icontrash class="u-margin-sides-lg c-tile__save-options c-tile__trash-icon"}}
    {{!-- </div> --}}
  </div>
</article>