<article class="c-tile {{class}}">
  <div class="c-tile__content">
    {{!-- {{>iconedit class="c--small u-margin-right-xlg u-hidden-xs-down"}} --}}
    <div class="c-tile__details">
      <div class="c-tile__names">
        <h1 class="c-tile__workout">Awesome Butt Firming and Weightloss Workout</h1>
        <div class="c-tile__rating">
          {{>iconrating class="c-tile__stars u-fill-yellow"}}
          <span class="u-text-size-quiet u-margin-left-lg">saved 6845 times</span>
        </div>
        <span class="u-text-size-mobile u-hidden-xs-down u-margin-right-xxlg">#tags, #tags, #tags, #tags</span>
      </div>
      <div class="c-tile__extras">
        <span class="c-tile__author">Lucies Fitness Journey Vancouver</span>  
        <span class="u-text-size-mobile">Difficulty</span>
      </div>
    </div>
  </div>

  <div class="c-tile__icons">
    <div class="c-tile__edit-options u-hidden-xs-down">
      {{>iconcalendar class="c--medium u-margin-sides-lg"}}
      {{>iconview class="c--large u-margin-sides-lg"}}
      {{!-- {{>iconedit class="c--small u-margin-sides-lg"}} --}}
      
    </div>
    <a class="js-tile-save c-tile__save">
      {{>iconmark class="c--medium u-fill-blue c-tile__mark-icon"}}
      {{>iconsaved class="c--medium u-fill-blue c-tile__saved-icon"}}
    </a>
    <div class="c-tile__save-options  u-hidden-xs-down">
      {{>iconedit class="c--small u-margin-sides-lg"}}
      {{>icontrash class="c--small u-margin-sides-lg"}}
    </div>
  </div>
</article>