<article class="c-tile {{class}} u-display-flex u--align-center u--space-between u-padding-lg">
  <div class="u-display-flex u--align-center u--space-between">
    {{>iconedit class="c--small u-margin-right-xlg"}}
    <div>
      <div class="c-tile__title">
        <span class="u-text-size-medium u-color-blue u-margin-right-xxlg">Super Workout Title</span>
        <span class="u-text-size-medium">Name Author</span>
      </div>
      <div>
        <span class="u-text-size-mobile u-margin-right-xxlg">#tags, #tags, #tags, #tags</span>
        <span class="u-text-size-mobile">difficulty</span>
      </div>
    </div>
  </div>
  <div class="u-display-flex u--align-center u--space-between">
    <div class="u-margin-right-lg">
      {{>iconrating class="c--xlg"}}
      <span class="u-text-size-quiet">saved 6845 times</span>
    </div>
    <div class="c-tile__edit-options">
      {{>iconcalendar class="c--small u-margin-sides-lg"}}
      {{>iconedit class="c--small u-margin-sides-lg"}}
      {{>iconedit class="c--small u-margin-sides-lg"}}
      {{>icontrash class="c--small u-margin-sides-lg"}}
    </div>
    <div class="c-tile__save-options">
      {{>iconedit class="c--small u-margin-sides-lg"}}
      <button class="c-button c--primary">Save workout</button>
    </div>
  </div>
</article>