 <div class="u-color-bg-white u-width-full u-padding-lg u-box-shadow u-border u-margin-bottom-xxlg">
  <h4 class="u-margin-top-none u-margin-bottom-sm">Upcoming Events</h4>
  <ul>
    <li class="u-color-blue u-margin-bottom-md">A Workout Event</li>
    <li class="u-color-blue u-margin-bottom-md">A Workout Event</li>
    <li class="u-color-blue u-margin-bottom-md">A Workout Event</li>
  </ul> 
</div>