 <div class="u-color-bg-white u-width-full u-padding-lg u-box-shadow u-border u-margin-bottom-xxlg">
  <h4 class="u-margin-top-none u-margin-bottom-sm u-line-height-md">Workouts</h4>
  <ul>
    <li class="u-color-blue u-margin-bottom-md"><a href="" class="c-link">Fran</a></li>
    <li class="u-color-blue u-margin-bottom-md"><a href="" class="c-link">Aerobic Death</a></li>
  </ul> 
  <a href="/workouts" class="c-link u-text-size-small">See all of Users workouts ></a>
</div>