<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/header.js"></script>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header class="c-header">
      {{>nav}}
      {{>dashnav}}
      {{>mobilenav}}
      {{>mobiledash}}
    </header>
    <main>
      {{{@body}}}
    </main>
      {{>tabbar}}
  </body>
</html>
