// Global Styles
// ====
//
// 1. Height of the mobile fixed top header.
// 2. Height of the fixed mobile tab.
// 3. Height of both fixed headers. 

* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: $font-family;
  color: $neutral-80;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

img {
  max-width: 100%;
}

main {
  padding-top: $mobile-header-size; // 1
  height: 100%;
  overflow: scroll;

  @media (max-width: $screen-xs) {
    padding-bottom: 45px; // 2
  }

  @media (min-width: $screen-xs) {
    padding-top: $header-size; // 3
  }
}


// Headings
// ---

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 28px;
  line-height: 36px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
}

h4 {
  font-size: 20px;
  line-height: 34px;
  text-transform: capitalize;
}

h5 {
  font-size: 16;
  line-height: 20px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: $neutral-80;
}


// Lists
// ---


ul {
  padding: 0;
  list-style: none;
}

// Default Styles
// ---
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}