// Variables
// ======
//

//Spacing
// ---

$unit: 4px;


// Fonts
// --

$font-family: 'Roboto', sans-serif;




// Font size
// ---

$font-size: 16px;

$mobile-font: 12px;
$small-font: 14px;
$medium-font: 18px;
$large-font: 20px;
$title-font: 24px;
$xlarge-font: 36px;


// Colors
// ---

// Neutrals
$neutral-00: #fff;
$neutral-10: #F0F0F2;
$neutral-20: #CFCFCF;
$neutral-30: #F9F9F9;
$neutral-40: #9A9A9A;
$neutral-70: #31383E;
$neutral-80: #21272A;

// Brand Colors
$brand-blue: #1385B9;
$brand-orange: #F6921E;
$brand-yellow: #F6C811;


// Media-queries
// ---

$screen-xs: 480px;
$screen-hlf-scrn: 618px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$max-width: 1280px;


// Borders
// ---

$border-radius: $unit/2;
$border: 1px solid $neutral-20;


// Other
// ---

$tap-size: 44px;
$slow-animation: 0.25s ease-in-out all;




