{{>hero class="c--blue" heading="Browse Workouts"}}

<div class="t-main">
<h1>Search</h1>

  {{>search placeholder= "e.g. Weight Training, Barbell, Squat"}}

  <h2>Results</h2>
  <div class="c-tile__legend">
    <span class="u-text-size-quiet">Quick </br>View</span>
  </div>
  {{> tile class="c--save"}}
</div>