
<div class="t-calendar u-padding-top-xlg">
{{>heading heading="Calendar" link="/new-event" new="+ Create Event" class="t-calendar__new"}}
  {{!-- <h1 class="u-margin-top-none u-margin-left-lg">Calendar</h1> --}}
  <div id="calendar"></div>

  {{!-- Render mobile-event only if mobile (define as variable max-width: 480px) --}}
  {{>mobileevent class="c--workout" title="This is a Workout"}}
  {{>mobileevent title="This is a regular event"}}

  {{>calendarevent}}

  <div class="u-display-flex">
    {{>calendarbox title="Shared Calendars" item="Group Calendar"}}
    {{>calendarbox title="My Calendars" item="My Calendar" link="+ Create a new calendar with FitBee Pro!"}}
  </div>
</div>
