{{>hero class="c--blue" heading="Connect"}}

<div class="t-main">
  <h1>Search</h1>
  <div class="c-search">
    <form>
      <div class="c-search__keywords">
        <label class="u-color-blue u-text-bold" for="keywords">Keywords</label>
        <input type="text" id="keywords" placeholder="Type a friend’s name or a keyword" />
      </div>
      <div class="c-search__filters u-display-flex u--align-center u-margin-top-none">
        <div class="u-padding-none">
          <div class="c-checkbox">
            <input type="checkbox" value="trainers" class="c-checkbox"/><label class="u-text-bold u-text-size-normal u-color-blue"for="trainers">Search for Coaches and Trainers only</label>
          </div>
        </div>
        <div class="u-margin-left-auto">
          <button type="submit" class="c-button c--primary u-display-block u-margin-left-auto">Search</button>
        </div>
      </div>
    </form>
  </div>

  <h2>Results</h2>

    {{>friend name="User Name" title="Title" location="Location" class="c--trainer"}}
    {{>friend name="User Name" title="Title" location="Location"}}
    {{>friend name="User Name" title="Title" location="Location"}}
</div>