<div class="t-workout t--create">
  <div class="t-workout__main">
    <div class="t-workout__heading">
      <h1 contenteditable="true" class="t-workout__title single-line">Workout Name</h1>
      <span class="t-workout__author">Created by <author>User Name </author>on <date>dd/mm/yyyy</date></span>
      <p contenteditable="true" class="t-workout__description single-line">Description</p>
      <div class="t-workout__keywords single-line" contenteditable="true">keywords</div>
    </div>
    <input placeholder="Search" class="t-workout__search u-hidden-xs-up"/>
    <div class="t-workout__workout">

      {{>exercise}}
      {{>exercise}}

    </div>
    
  </div>
  <div class="t-workout__side">
  </div>
</div>