{{>hero class="c--blue" heading="Find a Trainer"}}

<div class="t-main">
<h1>Search</h1>

  {{>search placeholder="e.g. Trainer, Group, Cardio"}}

  <h2>Results</h2>

    {{>person}}
    {{>person}}
    {{>person}}
    {{>person}}
</div>