{{>hero class="c--blue" heading="Find a Trainer"}}

<div class="t-main">
<h1>Search</h1>

  {{>search placeholder= "e.g. Trainer, Group, Cardio"}}

  <h2>Results</h2>

    {{>person name="User Name" 
              description="Bacon ipsum dolor amet corned beef picanha porchetta tenderloin, pastrami tongue leberkas biltong 100 char max" 
              type="Crossfit" 
              liverate="55" 
              virtualrate="20" 
              activity="Active" 
              location="Los Angeles" 
              availability="Evenings, Weekends"}}

    {{>person name="User Name" 
              description="Bacon ipsum dolor amet corned beef picanha porchetta tenderloin, pastrami tongue leberkas biltong 100 char max" 
              type="Crossfit" 
              liverate="55" 
              virtualrate="20" 
              activity="Active" 
              location="Los Angeles" 
              availability="Evenings, Weekends"}}

    {{>person name="User Name" 
              description="Bacon ipsum dolor amet corned beef picanha porchetta tenderloin, pastrami tongue leberkas biltong 100 char max" 
              type="Crossfit" 
              liverate="55" 
              virtualrate="20" 
              activity="Active" 
              location="Los Angeles" 
              availability="Evenings, Weekends"}}
</div>