{{>hero class="c--blue" heading="Friends"}}

<div class="t-main">
  <div class="u-display-flex u--align-center u--justify-center u-margin-bottom-xxlg">
    <label class="u-color-blue u-text-bold" for="add-friend">Search for friends</label>
    <input class="u-margin-left-lg u-width-half" type="text" id="add-friend" placeholder="Type a friend's name"/>
  </div>
  {{>friend}}
  {{>friend}}
  {{>friend}}
  {{>friend}}
  {{>friend}}

</div>

