<div class="t-group">
  <div class="t-group__header">
    {{>hero class="c--blue c--profile"}}
    <div class="t-group__title-bg u-width-full u-color-bg-dark-gray">
    </div>
    <h1 class="t-group__title u-color-white u-text-align-center">Racine Erickson’s Baseball Team</h1>
  </div>
  <div class="u-color-bg-white u-width-full u-display-flex u-align-center u-padding-lg u--space-between">
    <div class="u-display-flex u-align-center">
      <a class="u-display-block c-link">177 Members</a>
      <a class="u-display-block c-link">+ Join Group</a>
    </div>
    <div class="u-display-flex u-align-center">
      <a class="u-display-block c-link">{{>iconmessage class="c--small"}}</a>
      <a class="u-display-block c-link">{{>iconmessage class="c--small"}}</a>
    </div>
  </div>  
  <div class="c-grid__row u-margin-top-xxlg">
    <div class="c-grid__col4">
      {{>upcomingevents}}
      {{>upcomingevents}}
    </div>
    <div class="c-grid__col8">
      {{>feed}}
      {{>about}}
    </div>
  </div>
