<div class="t-main t-home"> 
  <div class="c-grid__row u-margin-top-xxlg">
    <div class="c-grid__col4">
      {{>events}}
      {{>events}}
    </div>
    <div class="c-grid__col8">
      {{>feed}}
      {{>about}}
    </div>
  </div>
