{{>hero class="c--blue" heading="Welcome back!"}}

<div class="t-form t-main">
  <form>
    <h2>Login</h2>
    <div class="c-grid__row">
      <div class="c-grid__col6">
        <label class="c-input">Email
        <input class="u-width-full" type="email" placeholder="Email" /></label>
      </div>
      <div class="c-grid__col6">
        <label class="c-input">Password
        <input class="u-width-full" type="password" placeholder="Password" /></label>
        <a href="" class="c-link u-text-size-small u-display-block u-text-align-right u-padding-top-md">I forgot my password</a>
      </div>
    </div>
    <div class="u-display-flex u--flex-end u--align-baseline u-margin-top-xxlg">
      <div class="c-checkbox u-margin-right-xlg">
        <input type="checkbox" value="remember" class="c-checkbox"/><label for="remeber">Remember me</label>
      </div>
      <a href="/" type="submit" class="c-button c--primary">Login</a>
    </div>
  </form>
</div>
