<div class="t-messages"> 

      {{>mobileheader header="Messages" newclass="js-new-message" backclass="js-messages-back"}}

  <div class="t-messages__header u--align-center u-border-bottom">
    <div class="t-messages__header-wrapper">
      <h1 class="t-messages__title u-margin-none">Messages</h1>
      <a class="js-new-message t-messages__new-icon">
        {{>iconedit class="c--medium u-fill-blue"}}
      </a>
    </div>
    <nav class="t-messages__nav">
      <ul class="t-messages__nav-list u-display-flex">
        <li>
          <div class="js-messages-inbox t-messages__nav-item active">All Inbox</div>
        </li>
        <li>
          <div class="js-messages-groups t-messages__nav-item">Groups</div>
        </li>
      </ul>
    </nav>
    <a class="js-new-message t-messages__link c-link u-margin-left-xxlg u-align-right">+ New Message</a>
  </div>

  <div class="t-messages__wrapper u-display-flex">
    <div class="js-contacts active t-messages__contacts">
      <div class="t-messages__search u-border-bottom">
        {{>iconsearch class="c--small"}}
        <input type="text" placeholder="Search messages">
      </div>
      <div class="js-messages-contacts t-messages__contacts-wrapper">
        {{>contact class="new" name="New Message"}}
        {{>contact class="active" name="Sarah Hillton" message="Cow kevin frankfurter tail" timestamp="2:03"}}
        {{>contact class="alert" name="Simon Hay" message="Cow kevin frankfurter tail" timestamp="2:03"}}
        {{>contact name="Sarah Hillton" message="Cow kevin frankfurter tail" timestamp="2:03"}}
        {{>contact name="Simon Hay" message="Cow kevin frankfurter tail" timestamp="2:03"}}
        {{>contact class="active" name="Sarah Hillton" message="Cow kevin frankfurter tail" timestamp="2:03"}}
        {{>contact class="alert" name="Simon Hay" message="Cow kevin frankfurter tail" timestamp="2:03"}}
        {{>contact name="Sarah Hillton" message="Cow kevin frankfurter tail" timestamp="2:03"}}
        {{>contact name="Simon Hay" message="Cow kevin frankfurter tail" timestamp="2:03"}}
        {{>contact class="active" name="Sarah Hillton" message="Cow kevin frankfurter tail" timestamp="2:03"}}
        {{>contact class="alert" name="Simon Hay" message="Cow kevin frankfurter tail" timestamp="2:03"}}
        {{>contact name="Sarah Hillton" message="Cow kevin frankfurter tail" timestamp="2:03"}}
        {{>contact name="Simon Hay" message="Cow kevin frankfurter tail" timestamp="2:03"}}
      </div>
 
    </div>
    <div class="t-messages__conversation">
      <div class="t-messages__conversation-title u-border-bottom u-display-flex u--align-center">

        <div class="t-messages__conversation-name active">
          <div class="u-text-bold u-color-blue">Conversation with User Name</div>
          <div class="t-messages__star">
            {{>favourite}}
          </div>
        </div>

        <div class="t-messages__conversation-new u--align-center u-position-relative">
          <div>To:</div>
          <input type="text" placeholder="Type a name of a person or group"/>
        </div>
      </div>
      <div class="js-messages t-messages__messages">
      {{>message class="c--received" time="2:03pm" message="Bacon ipsum dolor amet pig beef pancetta picanha biltong, frankfurter shoulder rump meatball. Cow kevin frankfurter tail landjaeger hamburger ham filet mignon, pork loin jerky bacon chuck salami pork belly bresaola."}}
      {{>message class="c--sent" time="2:30pm" message="Cow kevin frankfurter tail landjaeger hamburger ham filet mignon, pork loin jerky bacon chuck salami pork belly bresaola"}}
      {{>message class="c--received" time="2:32pm" message="Bacon."}}
      {{>message class="c--sent" time="2:30pm" message="Cow kevin frankfurter tail landjaeger hamburger ham filet mignon, pork loin jerky bacon chuck salami pork belly bresaola"}}
      {{>message class="c--received" time="2:32pm" message="Bacon."}}
      </div>
      <div class="t-messages__input u-display-flex u--align-center">
        <textarea class="u-margin-right-lg" placeholder="Write a message..."></textarea>
        <div>
          <button type="submit" class="c-button c--primary">Send</button>
        <div>
      </div>
    </div>
  </div>
<div>  
