<div class="t-dash"> 

  {{>heading heading="New Message"}}
  
  <a href="/messages" class="c-link">&#60; Back to Messages</a>

  <form>
    <div class="u-margin-top-xxlg">
      <label class="c-input u-color-blue u-text-bold">To:
      <input class="u-margin-top-md" type="text" placeholder="Type a name"></label>
      <textarea class="c-input__textarea u-margin-top-xxlg" placeholder="Write a message"></textarea>
    </div>
    <div class="u-text-align-right u-margin-top-xxlg">
      <a href="/messages" class="c-link u-margin-right-lg">Cancel</a>
      <button type="submit" class="c-button c--primary">Send</button>
    </div>
  </form>
<div>  
