<div class="t-dash"> 

  {{>heading heading="Messages with User Name"}}
  
  <a href="/messages" class="c-link">&#60; Back to Messages</a>

  {{>message class="c--open"}}

  <form>
    <div class="u-margin-top-xxlg">
      <div class="u-display-flex u--align-center">
        <div class="c-icon c--small u-fill-blue">
          {{>iconedit class="u-width-full"}}
        </div>
        <span class="u-margin-left-lg u-color-blue u-text-bold">User Name</span>
      </div>
      <div class="u-margin-left-xxlg">
        <textarea class="c-input__textarea u-margin-top-xxlg u-padding-left-xxlg" placeholder="Write a reply..."></textarea>
      </div>
    </div>
    <div class="u-text-align-right u-margin-top-xxlg">
      <button type="submit" class="c-button c--primary">Reply</button>
    </div>
  </form>

</div>  
