<div class="t-dash"> 

  {{>heading heading="Messages with User Name"}}
  
  <a href="/messages" class="c-link">&#60; Back to Messages</a>

  {{>message class="c--open"}}

  <form>
    <div class="u-margin-top-xxlg">
      <div class="u-display-flex u--align-center">
        <div class="c-icon c--small u-fill-blue">
          <svg class="u-width-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.2 15.3"><path d="M15.2 14.1l-0.7-3.8c0-0.2-0.1-0.4-0.3-0.5L4.7 0.3C4.5 0.1 4.3 0 4 0 3.8 0 3.5 0.1 3.4 0.3L0.3 3.4c-0.4 0.4-0.4 1 0 1.3l9.6 9.6c0.1 0.1 0.3 0.2 0.5 0.3l3.8 0.7c0.1 0 0.1 0 0.2 0 0.3 0 0.5-0.1 0.7-0.3C15.2 14.8 15.3 14.4 15.2 14.1zM11 13.7l2.7-2.7 0.2 1.1 -1.8 1.8L11 13.7zM1 4l0.7-0.7 6.8 6.8c0.1 0.1 0.1 0.1 0.2 0.1s0.2 0 0.2-0.1C9 10 9 9.8 8.9 9.7L2.1 2.9l0.7-0.7 1.4 1.4c0.1 0.1 0.1 0.1 0.2 0.1 0.1 0 0.2 0 0.2-0.1 0.1-0.1 0.1-0.3 0-0.4L3.3 1.7 4 1l9.4 9.4 -0.7 0.7L5.9 4.3c-0.1-0.1-0.3-0.1-0.5 0 -0.1 0.1-0.1 0.3 0 0.4l6.8 6.8 -0.7 0.7 -1.4-1.4c-0.1-0.1-0.3-0.1-0.5 0s-0.1 0.3 0 0.4l1.4 1.4 -0.7 0.7L1 4zM12.9 14l1.2-1.2 0.3 1.4L12.9 14z"/></svg>
        </div>
        <span class="u-margin-left-lg u-color-blue u-text-bold">User Name</span>
      </div>
      <div class="u-margin-left-xxlg">
        <textarea class="c-input__textarea u-margin-top-xxlg u-padding-left-xxlg" placeholder="Write a reply..."></textarea>
      </div>
    </div>
    <div class="u-text-align-right u-margin-top-xxlg">
      <button type="submit" class="c-button c--primary">Reply</button>
    </div>
  </form>

</div>  
