{{>hero class="c--blue c--profile"}}

<div class="t-main t-profile">
  {{>profile}}
  <div class="c-grid__row u-margin-top-xxlg">
  <div class="c-grid__col4">
    <div class="u-color-bg-white u-width-full">
    </div>
  </div>
  <div class="c-grid__col8">
    {{>feed}}
    {{>about}}
  </div>
</div>

