<div class="t-form t-main">
  <h2 class="u-margin-top-xxlg">Privacy Settings</h2>
    <form>
      <h4 class="u-margin-bottom-lg">Profile</h4>
      <div class="u-margin-left-lg">
        <label for="private" class="u-display-flex u--align-center">
        <input type="radio" value="private" name="profile" class="u-margin-right-md">
        Private</label>
        <div class="u-margin-left-xxlg u-text-size-small">Users you are not following can only see your name, photo, and location.</div>
        <label for="public" class="u-display-flex u--align-center u-margin-top-xlg">
        <input type="radio" value="public" name="profile" class="u-margin-right-md">
        Public</label>
        <div class="u-margin-left-xxlg u-text-size-small">Every Fitbee user can see your information.</div>
    </div>
  </form>
</div>
