{{>hero class="c--blue" heading="Let's get started."}}

<div class="t-form t-main">
  <form>
    <h2>Just the bare necessities and you're on your way.</h2>
    <div class="c-grid__row">
      <div class="c-grid__col6">
        <label class="c-input">First Name
        <input class="u-width-full" type="text" placeholder="First Name" /></label>
      </div>
      <div class="c-grid__col6">
        <label class="c-input">Last Name
        <input class="u-width-full" type="text" placeholder="Last Name" /></label>
      </div>
    </div>
    <div class="c-grid__row u-margin-top-xxlg">
      <label class="c-input u-width-full">Email
        <input class="u-width-full" type="email" placeholder="Email" />
      </label>
    </div>
    <div class="c-grid__row u-margin-top-xxlg">
      <div class="c-grid__col6">
        <label class="c-input">Password
        <input class="u-width-full u-margin-bottom-lg" type="password" placeholder="Password" /></label>
        <label class="c-input">Confirm Password
        <input class="u-width-full" type="password" placeholder="Password" /></label>
      </div>
      <div class="c-grid__col6 u-margin-top-xxlg">
        <div class="c-checkbox">
          <input type="checkbox" value="trainer" class="c-checkbox"/><label for="trainer">I am a Trainer</label>
        </div>
        <div class="c-checkbox u-margin-top-xlg">
          <input type="checkbox" value="coach" class="c-checkbox"/><label for="coach">I am a Coach</label>
        </div>
      </div>
    </div>
    <div class="u-margin-top-xxlg u-text-align-right">
      <button href="" type="submit" class="c-button c--primary">Sign up</button>
    </div>
  </form>
</div>
