<div class="t-workout t--create">
  <div class="t-workout__main">
    <div class="t-workout__heading">
      <h1 class="t-workout__title single-line">Workout Name</h1>
      <span class="t-workout__author">Created by <author>User Name </author>on <date>dd/mm/yyyy</date></span>
      <p class="t-workout__description single-line">Description</p>
      <div class="t-workout__keywords single-line">keywords</div>
      <button class="t-workout__complete c-button c--secondary">&check; Mark complete</button>
    </div>
    <div class="t-workout__view-menu">
      <span>{{>iconedit class="c--small u-fill-blue u-margin-right-sm"}} <span class="u-hidden-hlf-down">Edit</span></span>
      <span>{{>iconcalendar class="c--small u-fill-blue u-margin-right-sm"}} <span class="u-hidden-hlf-down">Add to Calendar</span></span>
      <span>{{>iconshare class="c--small u-fill-blue u-margin-right-sm"}} <span class="u-hidden-hlf-down">Share</span></span>
      <span>{{>iconsave class="c--small u-fill-blue u-margin-right-sm"}} <span class="u-hidden-hlf-down">Save to library</span></span>
    </div>
    <div class="t-workout__workout">
      <div class="t-workout__workout-legend u-hidden-sm-down">
        <span>Exercise</span>
        <span>Quantity</span>
        <span class="t-workout__cta-legend">
          <span>View Media</span>
          <span>Complete</span>
        </span>
      </div>
      {{>exercise editable="false" class="t--complete"}}
      {{>exercise editable="false" class="t--complete"}}
      {{>exercise editable="false" class="t--complete"}}
      <div class="u-color-blue u-text-bold u-padding-lg u-margin-top-lg">+ Add Circuit</div>
    </div>
    
  </div>
  <div class="t-workout__side u-hidden-hlf-down">
    <div class="t-workout__side-heading">
      <div class="t-workout__side-title">
        <span class="u-display-block">Browse Workouts</span>
      </div>
      <input placeholder="Search" class="t-workout__search"/>
    </div>
    <div class="t-workout__side-wrapper">
      <div class="t-workout__filters">
      </div>
      <div class="t-workout__side-results">
        <div>Most Recent</div>
        <div class="t-workout__side-exercises u-margin-top-xlg">
          <div>
            <article class="c-workout">
              <div class="c-workout__detail">
                <h1 class="c-workout__title">Awesome Butt Firming and Weightloss Workout</h1>
                <div class="c-workout__rating">
                  {{>iconrating class="c-workout__stars u-fill-yellow"}}
                </div>
              </div>
              <div class="c-workout__detail">
                <div class="c-workout__author">Lucies Fitness Journey Vancouver</div>  
                <div class="u-text-size-quiet u-margin-left-lg">saved 6845 times</div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>