<div class="t-dash">

  {{>heading heading="Workouts" new="+ Create Workout"}}

  <div>
    <h2>My Workouts</h2>
    <div class="c-tile__legend">
      <span class="u-text-size-quiet">Add to</br> Calendar</span><span class="u-text-size-quiet">Quick </br>View</span><span class="u-text-size-quiet">Edit</span><span class="u-text-size-quiet">Trash</span>
    </div>
    {{> tile class="c--edit"}}
  </div>
</div>