// Spacing Utils
// ====

// Margin
// ---

.u-margin-none {
  margin: 0 !important;
}


// Top Margins

.u-margin-top-none {
  margin-top: 0 !important;
}

.u-margin-top-sm {
  margin-top: $unit !important;;
}

.u-margin-top-md {
  margin-top: $unit*2 !important;;
}

.u-margin-top-lg {
  margin-top: $unit*3 !important;;
}

.u-margin-top-xlg {
  margin-top: $unit*4 !important;;
}


// Bottom Margins

.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

.u-margin-bottom-sm {
  margin-bottom: $unit !important;
}

.u-margin-bottom-md {
  margin-bottom: $unit*2 !important;
}

.u-margin-bottom-lg {
  margin-bottom: $unit*3 !important;
}

.u-margin-bottom-xlg {
  margin-bottom: $unit*4 !important;
}


// Right Margin

.u-margin-right-auto {
  margin-right: auto;
}

.u-margin-right-sm {
  margin-right: $unit;
}

.u-margin-right-md {
  margin-right: $unit*2;
}

.u-margin-right-lg {
  margin-right: $unit*3;
}

.u-margin-right-xlg {
  margin-right: $unit*4;
}


// Left Margin

.u-margin-left-auto {
  margin-left: auto;
}

.u-margin-left-sm {
  margin-left: $unit;
}

.u-margin-left-md {
  margin-left: $unit*2;
}

.u-margin-left-lg {
  margin-left: $unit*3;
}

.u-margin-left-xlg {
  margin-left: $unit*4;
}


// Side Margins

.u-margin-sides-sm {
  margin-left: $unit;
  margin-right: $unit;
}

.u-margin-sides-md {
  margin-left: $unit*2;
  margin-right: $unit*2;
}

.u-margin-sides-lg {
  margin-left: $unit*3;
  margin-right: $unit*3;
}

.u-margin-sides-xlg {
  margin-left: $unit*4;
  margin-right: $unit*4;
}



// Padding
// ---

.u-padding-none {
  padding: 0 !important;
}


// Top Padding

.u-padding-top-none {
  padding-top: 0 !important;
}

.u-padding-top-sm {
  padding-top: $unit !important;;
}

.u-padding-top-md {
  padding-top: $unit*2 !important;;
}

.u-padding-top-lg {
  padding-top: $unit*3 !important;;
}

.u-padding-top-xlg {
  padding-top: $unit*4 !important;;
}


// Bottom Padding

.u-padding-bottom-none {
  padding-bottom: 0 !important;
}

.u-padding-bottom-sm {
  padding-bottom: $unit !important;
}

.u-padding-bottom-md {
  padding-bottom: $unit*2 !important;
}

.u-padding-bottom-lg {
  padding-bottom: $unit*3 !important;
}

.u-padding-bottom-xlg {
  padding-bottom: $unit*4 !important;
}


// Right Padding

.u-padding-right-auto {
  padding-right: auto;
}

.u-padding-right-sm {
  padding-right: $unit;
}

.u-padding-right-md {
  padding-right: $unit*2;
}

.u-padding-right-lg {
  padding-right: $unit*3;
}

.u-padding-right-xlg {
  padding-right: $unit*4;
}


// Left Padding

.u-padding-left-auto {
  padding-left: auto;
}

.u-padding-left-sm {
  padding-left: $unit;
}

.u-padding-left-md {
  padding-left: $unit*2;
}

.u-padding-left-lg {
  padding-left: $unit*3;
}

.u-padding-left-xlg {
  padding-left: $unit*4;
}


// Side Padding

.u-padding-sides-sm {
  padding-left: $unit;
  padding-right: $unit;
}

.u-padding-sides-md {
  padding-left: $unit*2;
  padding-right: $unit*2;
}

.u-padding-sides-lg {
  padding-left: $unit*3;
  padding-right: $unit*3;
}

.u-padding-sides-xlg {
  padding-left: $unit*4;
  padding-right: $unit*4;
}
