// Header
// ===

.c-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.c-header__top {
  padding: 0 $unit*5;
  background-color: $neutral-10;
  font-size: $small-font;
}

.c-header__logo {
  width: $unit*29;
  margin-right: $unit*12;
  display: flex;
  align-content: center;
  height: $unit*15;
}