// Nav
// ===

.c-nav__primary-list,
.c-nav__secondary-list {
    display: flex;
}

.c-nav__primary-list {
    justify-content: flex-end;

    li {
      padding: 0 $unit*3;
    }
}

.c-nav__secondary-list {
    font-weight: 500;
    color: $brand-blue;

    li {
      padding-right: $unit*6;
    }
  }
