// Nav
// ===

.c-nav__primary-list,
.c-nav__secondary-list {
    display: flex;
}

.c-nav__primary-list {
    justify-content: flex-end;
    align-items: center;
}

.c-nav__primary-list-item {
  &:hover {
    color: $brand-blue;
    fill: $brand-blue;
  }
}

.c-nav__secondary-list {
    font-weight: 500;
    color: $brand-blue;
  }

