* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

html {
  font-family: "Roboto", sans-serif;
  color: #21272A;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4 {
  font-weight: 400; }

h1 {
  font-size: 32px;
  line-height: 36px; }

h2 {
  font-size: 24px;
  line-height: 28px; }

h3 {
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase; }

h4 {
  font-size: 20px;
  line-height: 34px;
  text-transform: capitalize; }

h5 {
  font-size: 16;
  line-height: 20px;
  font-weight: bold; }

p {
  font-size: 16px;
  line-height: 20px; }

.u-margin-none {
  margin: 0 !important; }

.u-margin-top-none {
  margin-top: 0 !important; }

.u-margin-top-sm {
  margin-top: 4px !important; }

.u-margin-top-md {
  margin-top: 8px !important; }

.u-margin-top-lg {
  margin-top: 12px !important; }

.u-margin-top-xlg {
  margin-top: 16px !important; }

.u-margin-bottom-none {
  margin-bottom: 0 !important; }

.u-margin-bottom-sm {
  margin-bottom: 4px !important; }

.u-margin-bottom-md {
  margin-bottom: 8px !important; }

.u-margin-bottom-lg {
  margin-bottom: 12px !important; }

.u-margin-bottom-xlg {
  margin-bottom: 16px !important; }

.u-margin-right-auto {
  margin-right: auto; }

.u-margin-right-sm {
  margin-right: 4px; }

.u-margin-right-md {
  margin-right: 8px; }

.u-margin-right-lg {
  margin-right: 12px; }

.u-margin-right-xlg {
  margin-right: 16px; }

.u-margin-left-auto {
  margin-left: auto; }

.u-margin-left-sm {
  margin-left: 4px; }

.u-margin-left-md {
  margin-left: 8px; }

.u-margin-left-lg {
  margin-left: 12px; }

.u-margin-left-xlg {
  margin-left: 16px; }

.u-margin-sides-sm {
  margin-left: 4px;
  margin-right: 4px; }

.u-margin-sides-md {
  margin-left: 8px;
  margin-right: 8px; }

.u-margin-sides-lg {
  margin-left: 12px;
  margin-right: 12px; }

.u-margin-sides-xlg {
  margin-left: 16px;
  margin-right: 16px; }

.u-padding-none {
  padding: 0 !important; }

.u-padding-top-none {
  padding-top: 0 !important; }

.u-padding-top-sm {
  padding-top: 4px !important; }

.u-padding-top-md {
  padding-top: 8px !important; }

.u-padding-top-lg {
  padding-top: 12px !important; }

.u-padding-top-xlg {
  padding-top: 16px !important; }

.u-padding-bottom-none {
  padding-bottom: 0 !important; }

.u-padding-bottom-sm {
  padding-bottom: 4px !important; }

.u-padding-bottom-md {
  padding-bottom: 8px !important; }

.u-padding-bottom-lg {
  padding-bottom: 12px !important; }

.u-padding-bottom-xlg {
  padding-bottom: 16px !important; }

.u-padding-right-auto {
  padding-right: auto; }

.u-padding-right-sm {
  padding-right: 4px; }

.u-padding-right-md {
  padding-right: 8px; }

.u-padding-right-lg {
  padding-right: 12px; }

.u-padding-right-xlg {
  padding-right: 16px; }

.u-padding-left-auto {
  padding-left: auto; }

.u-padding-left-sm {
  padding-left: 4px; }

.u-padding-left-md {
  padding-left: 8px; }

.u-padding-left-lg {
  padding-left: 12px; }

.u-padding-left-xlg {
  padding-left: 16px; }

.u-padding-sides-sm {
  padding-left: 4px;
  padding-right: 4px; }

.u-padding-sides-md {
  padding-left: 8px;
  padding-right: 8px; }

.u-padding-sides-lg {
  padding-left: 12px;
  padding-right: 12px; }

.u-padding-sides-xlg {
  padding-left: 16px;
  padding-right: 16px; }

.u-text-align-left {
  text-align: left; }

.u-text-align-right {
  text-align: right; }

.u-text-align-center {
  text-align: center; }

.u-text-size-small {
  font-size: 14px; }

.u-text-size-medium {
  font-size: 18px; }

.u-text-size-title {
  font-size: 24px; }

.u-text-size-large {
  font-size: 20px; }

.u-text-size-xlarge {
  font-size: 36px; }

.u-text-bold {
  font-weight: bold; }

.u-display-flex {
  display: flex; }

.u-display-flex.u--align-center {
  align-items: center; }

.u-display-flex.u--space-between {
  justify-content: space-between; }

.u-display-none {
  display: none; }

.u-display-inline {
  display: inline; }

.u-display-block {
  display: block; }

.u-position-relative {
  position: relative; }

.u-align-right {
  margin-left: auto !important; }

.u-align-left {
  margin-right: auto !important; }

.u-width-full {
  width: 100% !important; }

.u-width-half {
  width: 50% !important; }

.u-color-yellow {
  color: #F6C811 !important; }

.u-color-blue {
  color: #1385B9 !important; }

.u-fill-yellow {
  fill: #F6C811 !important; }

.u-fill-white {
  fill: #fff !important; }

.u-color-bg-gray {
  background-color: #CFCFCF !important; }

/*# sourceMappingURL=style.css.map */
