// Button
// ====

.c-button {
  display: inline-block;
  padding: $unit*2 $unit*7;

  outline: none;
  border: none;
  border-radius: $border-radius;

  background-color: transparent;

  color: $neutral-80;
  font-size: $small-font;
  font-weight: 500;

  cursor: pointer;
}

.c-button.c--primary {
  background-color: $brand-blue; 
  color: $neutral-00;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($brand-blue, 5%);
  } 
}

.c-button.c--ghost {
  border: 1px solid $neutral-40;
}