// Checkbox
// ====


.c-checkbox {
  display: flex;
  align-items: center;

  input {
    width: 15px;
    height: 15px;
    margin-right: $unit;
    background-color: $neutral-00;

    outline: 0;
    border-radius: $border-radius;
    border: 1px solid $neutral-20;
  }

  input:checked {
    &::before {
      content: '';
      
      display: block;
      width: 15px;
      height: 14px;
      
      background-image: url("../img/check-mark.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.c-checkbox.c--quiet {
  input {
    width: 12px;
    height: 12px;
    border-color: $neutral-50;
  }

   input:checked {
    &::before {
      content: '';
      
      display: block;
      width: 11px;
      height: 10px;
    }
  }

  label {
    color: $neutral-50;
    font-size: $small-font;
  }
}