.c-friend {
  display: inline-flex;
  position: relative;
  border-radius: $border-radius;
  width: 100%;
  margin-bottom: $unit*5;

  @media (min-width: 821px) {
    width: 49%;

    &:nth-child(even) {
      margin-right: 1%;
    }
  }
}

.c-friend__wrapper {
  position: relative;
  border-radius: $border-radius;
  width: 100%;
  height: 100%;

  font-size: $mobile-font;

  @media (min-width: $screen-xs) {
    font-size: $small-font;
  }

  @media (min-width: $screen-xs) {
    font-size: $font-size;
  }

  h1 {
    font-size: $font-size;

     @media (min-width: $screen-xs) {
      font-size: $medium-font;
      margin-bottom: $unit*4;
    }

     @media (min-width: $screen-md) {
      font-size: $large-font;
      margin: $unit*6 0;
    }
  }
}

.c-friend__image {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;

  img {
    border-radius: 2px 0 0 2px;
  }

  @media (min-width: $screen-xs) {
    width: 120px;
    height: 120px;
  }

  @media (min-width: $screen-md) {
    width: 180px;
    height: 180px;
  }
}

.c-friend__details {
  display: inline-block;
  width: calc(100% - 100px);

  @media (min-width: $screen-xs) {
    width: calc(100% - 150px);
  }

  @media (min-width: 821px) {
    width: calc(100% - 140px);
  }

  @media (min-width: $screen-md) {
    width: calc(100% - 200px);
  }
}

.c-friend__location {
  margin: $unit 0;

  @media (min-width: $screen-xs) {
    margin: $unit*4 0;
  }
}

.c-friend__links {
  text-align: right;

  @media (min-width: $screen-xs) {
    display: none;
  }
}

.c-friend__buttons {
  display: none;

  @media (min-width: $screen-xs) {
    display: block;
    position: absolute;
    bottom: $unit*2;
    right: $unit*2;
  }
}

.c-friend__button {
  position: absolute;
  bottom: 0;
  right: -$unit*3;
}

.c-friend__request {
  display: none;
}

.c-friend__title {
  display: none;
}

.c-friend__rating {
  display: none;
}

.c-friend.c--trainer {
  .c-friend__request,
  .c-friend__title,
  .c-friend__rating {
    display: inline-block;
  }
}