.c-friend {
  display: flex;
  position: relative;
  border-radius: $border-radius;
  float: left;
  width: 100%;
  margin-bottom: $unit*5;
  margin-right: 2%;


  @media (min-width: $screen-xs) {
    width: 49%;
  }

  @media (min-width: $screen-sm) {
    width: 32%;
  }

  &:nth-child(odd) {
    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
       margin-right: 0;
    }
  }

  &:nth-child(4n) {
    @media (min-width: $screen-sm){
      margin-right: 0%;
    }
  }
}

.c-friend__image {
  width: 115px;
  height: 115px;

  img {
    border-radius: 2px 0 0 2px;
  }
}

.c-friend__details {
  margin: auto 0;
}

.c-friend__button {
  position: absolute;
  bottom: 0;
  right: -$unit*3;
}