// Hero 
// ====


.c-hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-bottom: $unit*10;
}

.c-hero.c--blue {
  background-color: $brand-blue;
  color: $neutral-00;
}