// Hero 
// ====


.c-hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $unit*50;
  margin-bottom: $unit*10;
}

.c-hero.c--blue {
  background-image: url('../img/trainer.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  color: $neutral-00;
}

.c--profile {
  height: $unit*40;

  @media (min-width: $screen-sm) {
    height: $unit*80;
  }
}