.c-icon {
  cursor: pointer;
}

.c-icon.c--small {
  width: 14px;
}

.c-icon.c--medium {
  width: 18px;
}

.c-icon.c--large {
  width: $unit*6;
}

.c-icon.c--xlarge {
  width: $unit*8;
}

.c-icon.c--xxlarge {
  width: $unit*16;
}