// Single message
// ====


.c-message {
  display: flex;
  margin: $unit*3;
  margin-top: $unit*5;

  align-items: center;
}

.c-message.c--received {

  .c-message__wrapper {
    padding-right: 20%;
  }
  .c-message__message {
    background-color: $neutral-10;
  }

  .c-message__image {
    margin-right: $unit*6;
  }
}

.c-message.c--sent {
  flex-direction: row-reverse;

  .c-message__wrapper {
   padding-left: 20%;
  }

  .c-message__message {
    background-color: $brand-blue;
    color: $neutral-00;
  }

  .c-message__image {
    display: none;
  }
}

.c-message__image {
  width: $unit*10;
  flex: 1 0 auto;
  
  img {
    border-radius: 50%;
  }
}

.c-message__message {
  padding: $unit*3;
  border-radius: $unit*2;
  font-size: $small-font;
}