// Mobile Nav
// ====


.c-mobile-nav {
  display: block;
  background-color: $neutral-00;

  @media (min-width: $screen-xs) {
    display: none;
  }
}


.c-mobile-nav__list {
  display: flex;
  justify-content: space-between;
}

.c-mobile-nav__logo {
  width: 100px;
}