// Share component
// ====

.c-share {
  background-color: $neutral-00;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  @media (max-width: $screen-xs) {
    margin: 0 -$unit*3;
    margin-top: $unit*16;
  }
}

.c-share__icons {
  div {
    padding: $unit*3;
  }
}