// Side Nav of Dashboard
// ====


.c-side-nav {
  background: $neutral-70;
  height: 100vh;
  position: fixed;
  color: $neutral-00;
  top: 0;
  width: 180px;
  left: -200px;
  z-index: 1;

  @media (min-width: $screen-sm) {
    left: 0;
  }
}

.c-side-nav__item-bar:before {
  content: '';
  display: none;
  width: 3px;
  background-color: $brand-orange;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.c-side-nav__item {
  padding: $unit*4 $unit*10;
  position: relative;
  cursor: pointer;
  color: $neutral-00;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    background-color: $neutral-80;

    .c-side-nav__item-bar:before {
      display: block;
    }
  }

  // @media (min-width: $screen-sm) {
  //   padding: $unit*4 $unit*10;
  //   justify-content: flex-start;
  // }

  .c-icon {
    fill: $neutral-00;
    margin-right: $unit*3;
    margin-left: -$unit*3;

    // @media (min-width: $screen-sm) {
    //   margin-right: $unit*3;
    //   margin-left: -$unit*3;
    // }
  }
}

// .c-side-nav__item-text,
// .c-side-nav__logo {
//   display: none;

//     @media (min-width: $screen-sm) {
//       display: block;
//   }
// }

// "Dashboard"
// .c-side-nav__title {
//     opacity: 0;

//     @media (min-width: $screen-sm) {
//       opacity: 1;
//   }
// }

// Mobile Logo Icon
.c-side-nav__icon {
  // display: block;
  // width: 50px;
  // margin: 0 auto;
  // margin-top: $unit*3;

  //   @media (min-width: $screen-sm) {
      display: none;
  // }
}

