// Suggest 
// ====
// 
// *** Requires parent to be relative positioned ***

.c-suggest {
  display: none;
}

.c-suggest__image {
  display: none;
}

.c-suggest.c--image {
  .c-suggest__image {
    display: block;
  }
}
