// Tile
// ====


.c-tile {
  padding: $unit*2;
  display: flex;
  position: relative;

  background-color: $neutral-00;
  border-bottom: $border;

  @media (min-width: $screen-xs) {
    border: $border;
    margin-bottom: $unit*3;
  }

  @media (min-width: $screen-md) {
    width: 49%;
    display: inline-flex;
    vertical-align: top;

    &:nth-child(odd) {
      margin-left: 1%;
    }
  }
}

.c-tile__content {
  flex: 1;
}

.c-tile__details {
  @media (min-width: $screen-xs) {
    display: flex;
    align-items: baseline;
  }
}

.c-tile__options {
  display: none;

  @media (min-width: $screen-sm) {
    display: block;
  }
}

.c-tile__legend {
  display: flex;
  justify-content: flex-end;
  padding-right: $unit*3;
  align-items: center;  

  .c-tile__icon {
    margin-right: $unit*2;
  }

  // @media (min-width: $screen-sm) {
  //   margin-left: auto;
  //   width: 150px;
  //   display: flex;
  //   justify-content: space-between;
  //   margin-right: $unit*5;
  // }
}

.c-tile__names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $screen-xs) {
    margin-right: $unit*5;
  }
  @media (min-width: $screen-hlf-scrn) {
    margin-right: $unit*10;
  }
}

.c-tile__workout {
  color: $brand-blue;
  font-weight: 500;
  font-size: $medium-font;
  margin: 0;
  margin-bottom: $unit*2;
  line-height: 20px;
}

.c-tile__author {
  font-size: $font-size;
  margin-top: $unit*2;

  @media (min-width: $screen-xs) {
    margin-top: 0;
    margin-bottom: $unit*3;
  }
}

.c-tile__extras {
  display: flex;
  flex-direction: column;
}

.c-tile__rating {
  display: flex;
  align-items: center;

  @media (min-width: $screen-xs) {
    margin-bottom: $unit*2;
  }
}

.c-tile__save {
  padding: $unit*3;
}

.c-tile__stars {
  width: 100px;
}

.c-tile__saved-icon {
  display: none;
}

.c-tile__icons {
  
  display: flex;
  align-items: center;
  transition: $slow-animation;

  svg {
    fill: $brand-blue;  

    &:hover,
    &:active,
    &:focus {
      fill: darken($brand-blue, 10%);
    }
  }

  @media (max-width: $screen-xs) {
    position: absolute;
    height: 91%;
    width: 87%;
    left: 100%;
    background-color: $neutral-00;
    justify-content: space-around;
  }

  @media (min-width: $screen-xs) {
    position: static;
  }
}

.c-tile__icons.active {
  left: 0;
}

.c-tile__more {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.c-tile__dots {
  width: $unit;
}

.c-tile__save-options {
  display: none;
}

.c-tile__option {
  display: flex;
  align-items: center;
}

.c-tile__calendar-icon {
  width: 25px;

  @media (min-width: $screen-xs) {
    width: 18px;
  }
}

.c-tile__edit-icon {
  width: 25px;

  @media (min-width: $screen-xs) {
    width: 14px;
  }
}

.c-tile__trash-icon {
  width: 20px;

  @media (min-width: $screen-xs) {
    width: 14px;
  }
}

// Modifiers
// ---

.c-tile.c--saved {
  .c-tile__mark-icon {
    display: none;
  }

  .c-tile__saved-icon {
    display: block;
  }
}

.c-tile.c--save {
  .c-tile__e-options {
    // display: none;
  }
}

.c-tile.c--edit {
  .c-tile__save-options {
    display: block;
  }

  .c-tile__save {
    display: none;
  }
}