<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/styles/styles.css">
  </head>
</html>

<header>
  <div class="c-header__top">
    <nav>
      <ul class="c-nav__primary-list u-margin-none">
        <li>
          User Name
        </li>
        <li>
          <img class="c-icon__small" src="../assets/icons/bell.svg" />
        </li>
        <li>
          <img class="c-icon__small" src="../assets/icons/bell.svg" />
        </li>
        <li>
          <img class="c-icon__small" src="../assets/icons/bell.svg" />
        </li>
        <li>
          <img class="c-icon__small" src="../assets/icons/bell.svg" />
        </li>
      </ul>
    </nav>
  </div>
  <div class="c-header__bottom u-display-flex u--align-center u-padding-lg u-border-top u-border-bottom">
    <div class="c-header__logo">
      <img src="../assets/images/fitbee-logo-black.svg" />
    </div>
    <nav>
      <ul class="c-nav__secondary-list u-margin-none">
        <li><a>Dashboard</a></li>
        <li><a>+ Create Workout</a></li>
        <li><a>Browse Workouts</a></li>
        <li><a>Find a Trainer</a></li>
      </ul>
    </nav>
  </div>
</header>