// Color
// ====

.u-color-yellow {
  color: $brand-yellow !important;
}

.u-color-blue {
  color: $brand-blue !important;
}

.u-color-grey {
  color: $neutral-40 !important;
}

.u-fill-blue {
  fill: $brand-blue !important;
}

.u-fill-yellow {
  fill: $brand-yellow !important;
}

.u-fill-black {
  fill: $neutral-80 !important;
}

.u-fill-grey {
  fill: $neutral-40 !important;
}

.u-fill-white {
  fill: $neutral-00 !important;
}

.u-color-bg-gray {
  background-color: $neutral-20 !important;
}

.u-color-bg-white {
  background-color: $neutral-00 !important;
}
