// Display utils
// ====

.u-display-flex {
  display: flex;
}

.u-display-flex.u--align-center {
  align-items: center;
}

.u-display-flex.u--align-baseline {
  align-items: baseline;
}

.u-display-flex.u--space-between {
  justify-content: space-between;
}

.u-display-flex.u--flex-end {
  justify-content: flex-end;
}

.u-display-flex.u--column {
  flex-direction: column;
}

.u-display-none {
  display: none;
}

.u-display-inline {
  display: inline;
}

.u-display-block {
  display: block;
}
