// Text Utils
// ====


// Text align
.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

.u-text-align-center {
  text-align: center;
}


// Text Size
.u-text-size-quiet {
  font-size: 10px;
  color: $neutral-40;
}

.u-text-size-mobile {
  font-size: $mobile-font; // 12px
}

.u-text-size-small {
  font-size: $small-font; // 14px
  line-height: 18px;
}

.u-text-size-normal {
  font-size: $font-size; // 14px
}

.u-text-size-medium {
  font-size: $medium-font; // 18px
}

.u-text-size-large {
  font-size: $large-font; // 20px
}

.u-text-size-title {
  font-size: $title-font; // 24px
}

.u-text-size-xlarge {
  font-size: $xlarge-font; // 36px
}


// Font Weight
.u-text-bold {
  font-weight: 500;
}
