.u-visibility-none {
  visibility: hidden;
}

.hidden-xs-up {
  @media (max-width: $screen-xs) {
    display: none;
  }
}

.u-hidden-sm-down {
  @media (max-width: $screen-sm) {
    display: none;
  }
}